body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    margin-bottom: 2em;
}

h1 {
    color: #333;
    font-size: 2em;
}

p {
    color: #666;
    line-height: 1.5;
    font-size: 1.1em;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

input {
    margin-top: 1em;
    margin-bottom: 1em;
}

button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    /* Your responsive styles go here */
}